*{
    outline: auto;
}
.contain{
    display: flex;

}
nav{
    font-size: 40px;
    padding: 10px;
}
.projects{
    flex:1 0 auto;
    min-height: 100vh;
}
.tasks{
    flex:4 0 auto;
    min-height: 100vh;
}
.projectBtn{
    display: block;
}
.taskBtn{
    display:block;
}
form#newTask>input{
    display: block;
}
.projectName{
    display: inline;
    padding-right: 5px;
}